@import "../variables";

$extensions-primary: #34A853;

#extensions {
    .bottom-border:after {
        border-color: transparent transparent $extensions-primary;
    }
    .top-border:before {
        border-color: $extensions-primary transparent transparent;
    }

    section.primary, section.button-container {
        background: $extensions-primary;
    }

    .portfolio-title {
        color: $extensions-primary;
    }

    .extension-title {
        display: flex;
        align-items: center;
        img {
            flex: 1;
            max-width: 25%;
            height: 100%;
            padding-right: 0.25em;
        }
        span {
            flex: 5;
        }

    }

    .button-bar {
        .action-button {
            color: $extensions-primary;
            border-color: $extensions-primary;
            &:hover, &:active {
                background: rgba(0,0,0,0.1);
            }
        }
    }
    .primary .action-button {
        color: white;
        border-color: white;
        &:hover, &:active {
            background: transparentize($white, 0.7);
        }
    }

    /* iPads (portrait and landscape) ----------- */
    @media only screen
    and (max-width : 1024px) {
        .portfolio-title {
            font-size: 6em;
        }
    }

        /* Smartphones (portrait and landscape) ----------- */
    @media only screen
    and (max-width : 640px) {
        .portfolio-title {
            font-size: 3.5em;
        }
    }

}
