
header {
	text-align: center;
	min-height: 85vh;
	img {
		margin: 20vh 0rem;
		max-width: 80vw;
		max-height: 40vh;
	}
	border-bottom: solid 1px $primary;
	position: relative;

	h2 {
		color: $gray;
		margin-bottom: 12vh;
        .title:not(:first-of-type) {
            &:before {
                content: "•";
                padding-right: 0.5em;
            }
        }
	}	
}


/* iPads (portrait and landscape) ----------- */
@media only screen
and (max-width : 1024px) {
    header .title {
        display: block;
        &:before {
            content: "" !important;
            padding: 0em !important;
        }
    }
}
