@import "../variables";

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    .portfolio-item {
        flex: 0 0 calc(100% / 3 - 2em);
        background: $light-gray;
        box-shadow: 0px 5px 5px $gray;
        min-height: 20em;
        padding: 1em;
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a {
            cursor: pointer;
            &:hover, &:active {
                text-decoration: none;
                color: darken($primary, 15%);
            }
        }
        .more {
            color: $primary;
            font-weight: bold;
            text-align: center;
        }
        .portfolio-item-title {
            color: $primary;
            position: relative;
            display: flex;
            align-items: center;
            a {
                color: $primary;
                flex: 5;
                &:hover, &:active {
                    text-decoration: none;
                    color: darken($primary, 15%);
                }
            }
            i {
                color: $gray;
                flex: 1;
                text-align: right;
            }
        }
        img {
            width: 100%;
        }
        .image-placeholder {
            width: 100%;
            height: 15em;
            background: $white;
        }
    }
}



/* iPads (portrait and landscape) ----------- */
@media only screen
and (max-width : 1024px) {
    .portfolio-item {
        flex: 0 0 calc(100% / 2 - 2em) !important;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 640px) {
    .portfolio-item {
        flex: 0 0 calc(100% / 1 - 2em) !important;
    }
}